body {
    font-family: 'Poppins', sans-serif;
}
#part1 {
    width: 50%;
}

#part2 {
    width: 50%;
}

header{
    background-color: #F0FFF0;
    position: absolute;
    width: 1440px;
    height: 576px;
    left: 0px;
    top: 0px;
}

.nav-part {
    margin-top: 30px;
}
#part1 img {
    height: 59px;
    width: 198.07px;
}
.btncheck {
    width: 104px;
    height: 43px;
    background-color: #21B573;
    border: 1px solid #21B573;
    border-radius: 33px;
}

.banner img{
    width: 554px;
    height: 346px;
    margin-top: 100px;
}